body{
    padding:0px;
    margin: 0px;
    font-family:'Do Hyeon', sans-serif;
    font-style:normal;
    font-weight: 400;
}
.txt{
    font-size:large;
}
#progress {
    background-color: #009bfb;
    border-radius: 8px;
    margin-bottom: 60px;
    width: 8.3%;
    height: 8px;
    transition: .5s ease-in;
}
.bar{
    width: 90%;
    height: 8px;
    background-color: #000000;
    border-radius: 4px;
    margin-bottom: 60px;
}
div{
    display:block;
}

