<html lang="ko">
<head>
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel='stylesheet' href="css/nav.css">
</head>
<body>
<div id ="plane-position">
    <div id ="plane-wrapper" style = "margin-left: 15.45%;">
        <div class="txt">2</div>
        <img src="img/icon_nav 복사본.png" width="68px" height ="68px">
        </div>
    </div>
</div>
<div class="bar">
    <div id="progress" class="filled-bar" style="width:16.6%;"></div>
</div>
</body>
</html>