<!DOCTYPE html>
<html lang="ko">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>코딩도 식후경</title>
        <!--font-->
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap" rel="stylesheet">
        <!--css-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href= "{{ url_for('static',filename='css/nav.css') }}">
		<style>
			p { 
            margin:20px 0px;
            font-size: Large; 
            }
            .question{
                font-family: 'Black Han Sans', sans-serif;
            }
            *{
                font-family: 'Do Hyeon', sans-serif;
            }
		</style>
</head>
<body>

 <!-- Navigation -->
<div id ="plane-position">
        <!--image margin 갱신필요-->
        <div id ="plane-wrapper" style = "margin-left: 80%">
            <div class="txt">Have a good meal time</div>
                <img src="{{ url_for('static', filename='img/icon_nav.png') }}" width="50px" height ="50px">
        </div>  
    </div>
    <div class="bar">
        <!--progress 갱신 필요-->
        <div id="progress" class="filled-bar" style="width:99%;"></div>
    </div>

<!--page content-->
<div class="container">    
<!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{{url_for('static',filename='img/food.jpg')}}" alt="세종대 학식 사진">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light">코딩도 식후경이지</h1>
        <p>오늘 하루도 밥 맛있게 드시고 열심히 과제하고 열심히 놀아요!</p>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <p class="text-white m-0">음식에 대한 사랑만큼 진실한 사랑은 없다.</p>
        <p class="text-white m-0">There is no sincerer love than the love of food.</p>
        <p class="text-white m-0">조지 버나드 쇼 George Bernard Shaw</p>
      </div>
    </div>

    <div class="row">
         <!--메뉴1-->
        <div class="col-md-4 mb-5">
            <div class="col-md-12">
                <div class="question">
                    <h1>&#x25B6;오늘의 메뉴는 너다 {{menu[0]}}&#x1F374;</h1>
                </div>
            </div>
        </div>
        <!--메뉴2-->

        <div class="col-md-4 mb-5">
            <div class="col-md-12">
                <div class="question">
                    <h1>&#x25B6;아니면 너다 {{menu[1]}}&#x1F371;</h1>
                </div>
            </div>
        </div>

        <!--메뉴3-->
        <div class="col-md-4 mb-5">
            <div class="col-md-12">
                <div class="question">
                    <h1>&#x25B6;아니면 너다 {{menu[2]}}&#x1F372;</h1>
                </div>
            </div>
        </div>
    </div>
    <!--/.row-->
</div>
</body>
</html>