<!DOCTYPE>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>코딩도 식후경</title>
        <!-- Jquery -->
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <!--font-->
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/page2.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    </head>
    <body>

    <!--navigator-->
    <div id ="plane-position">
        <!--image margin 갱신필요-->
        <div id ="plane-wrapper" style = "margin-left: 15.45%">
            <div class="txt">2</div>
                <img src="{{ url_for('static', filename='img/icon_nav.png') }}" width="50px" height ="50px">
        </div>  
    </div>
    <div class="bar">
        <!--progress 갱신 필요-->
        <div id="progress" class="filled-bar" style="width:14.2%;"></div>
    </div>

        <!--promotion-->
    <div id="wrap1" class="promotion">
        <div class = "contents">

                <!--image-->
                <div class="icon"></div>

                <!--question-box-->
                <div class="question-box">
                    <div class="inner-contents">
                        <div class="q">Q1</div>
                        <h1>현재 어떤 식사를 고민중이신가요?</h1>
                    </div>
                </div>

                <!--answer-list-->
                <div class="answer-list">
                    <div class="answer" value="1">
                        아침
                    </div>
                    <div class="answer" value="2">
                        점심
                    </div>
                    <div class="answer" value="3">
                        저녁
                    </div>
                </div>
                
            </div>
            
            <!--page-info-->
            <div class="page-info">
                1/6
            </div>

        </div>

        <div id="wrap2" class="promotion">
            <div class="contents">
        
                <!--image-->
                <div class="icon"></div>
        
                <!--question-box-->
                <div class="question-box">
                    <div class="inner-contents">
                        <div class="q">Q2</div>
                        <!-- 달게 or 짜게 -->
                        <h1>오늘 하루 스트레스를 많이 받았나요?</h1>
                    </div>
                </div>
        
                <!--answer-list-->
                <div class="answer-list">
                    <div class="answer" value="1">
                        스트레스 만땅
                    </div>
                    <div class="answer" value="2">
                        오늘은 그냥 그래요
                    </div>
                    <div class="answer" value="3">
                        아니요 오늘 기분 좋아요
                    </div>
                </div>
        
            </div>
        
            <!--page-info-->
            <div class="page-info">
                2/6
            </div>
        
        </div>

        <div id="wrap3" class="promotion">
            <div class="contents">
        
                <!--image-->
                <div class="icon"></div>
        
                <!--question-box-->
                <div class="question-box">
                    <div class="inner-contents">
                        <div class="q">Q3</div>
                        <h1>현재 다이어트 중이신가요?</h1>
                    </div>
                </div>
        
                <!--answer-list-->
                <div class="answer-list">
                    <div class="answer" value="1">
                        네 지금 다이어트 중이에요
                    </div>
                    <div class="answer" value="2">
                        아니요 아무거나 잘 먹어요
                    </div>
                    <div class="answer" value="3">
                        아니요 오늘 맛있는 게 먹고 싶어요
                    </div>
                </div>
        
            </div>
        
            <!--page-info-->
            <div class="page-info">
                3/6
            </div>
        
        </div>

        <div id="wrap4" class="promotion">
            <div class="contents">
        
                <!--image-->
                <div class="icon"></div>
        
                <!--question-box-->
                <div class="question-box">
                    <div class="inner-contents">
                        <div class="q">Q4</div>
                        <h1>오늘 날씨 어때요?</h1>
                    </div>
                </div>
        
                <!--answer-list-->
                <div class="answer-list">
                    <div class="answer" value="1">
                        아주 맑아요!
                    </div>
                    <div class="answer" value="2">
                        조금 흐려요
                    </div>
                    <div class="answer" value="3">
                        비 / 눈 이와요
                    </div>
                </div>
        
            </div>
        
            <!--page-info-->
            <div class="page-info">
                4/6
            </div>
        
        </div>

        <div id="wrap5" class="promotion">
            <div class="contents">
        
                <!--image-->
                <div class="icon"></div>
        
                <!--question-box-->
                <div class="question-box">
                    <div class="inner-contents">
                        <div class="q">Q5</div>
                        <h1>원하는 가격대가 있나요?</h1>
                    </div>
                </div>
        
                <!--answer-list-->
                <div class="answer-list">
                    <div class="answer" value="1">
                        2000 ~ 3000
                    </div>
                    <div class="answer" value="2">
                        3000 ~ 4000
                    </div>
                    <div class="answer" value="3">
                        4000 ~ 5000
                    </div>
                </div>
        
            </div>
        
            <!--page-info-->
            <div class="page-info">
                5/6
            </div>
        
        </div>

        <div id="wrap6" class="promotion">
            <div class="contents">
        
                <!--image-->
                <div class="icon"></div>
        
                <!--question-box-->
                <div class="question-box">
                    <div class="inner-contents">
                        <div class="q">Q6</div>
                        <h1>이 중에서 어제 먹은 게 있나요?</h1>
                    </div>
                </div>
        
                <!--answer-list-->
                <div class="answer-list">
                    <div class="answer" value="1">
                        {}
                    </div>
                    <div class="answer" value="2">
                        {}
                    </div>
                    <div class="answer" value="3">
                        {}
                    </div>
                    <div class="answer" value="4">
                        없어요
                    </div>
                </div>
        
            </div>
        
            <!--page-info-->
            <div class="page-info">
                6/6
            </div>
        
        </div>
    </body>
    <script>

        select_state = [0,0,0,0,0,0]
        const wrap = document.querySelectorAll('.promotion');
        num = 1;

        // 전체 안 보이게 만들기
        $(document).ready(function () {
                wrap.forEach(element => {
                    jQuery(element).hide(); 
            });
            $('#wrap1').show();
        });

       function  next(){
            var name = '#wrap'+num;   
            $(name).hide();

            num++;
            name = '#wrap' + num;
            $(name).show();
       }

        $('.answer').click(function () {
            console.log($(this));
            var val = $(this).attr("value");
            select_state[num-1] = val;

            next();
            if(num == 7){
                var str = 'http://localhost:5000/page1?';
                select_state[1] = select_state[1] - 1;
                str = str+'a='+select_state[0]+'&b='+select_state[1]+'&c='+select_state[2]+'&d='+select_state[3]+'&e='+select_state[4]+'&f='+select_state[5];
                window.location.href = str;
            }
        });
        
    </script>
</html>
